@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
  
  --color-gold: #D4AF37;
  --color-cream: #F5F5DC;
  --color-champagne: #F7E7CE;
}

body {
  @apply bg-white text-gray-900 font-sans;
}

