@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Montserrat", sans-serif;
  
  --color-brand-black: #0F0F0F;
  --color-brand-charcoal: #262626;
  --color-brand-blue: #007BFF;
  --color-brand-silver: #C0C0C0;
}

body {
  @apply bg-brand-black text-white font-sans;
}

h1, h2, h3 {
  @apply font-heading font-bold uppercase tracking-tighter;
}

